@import "tailwindcss";

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

.typewrite > .wrap {
  border-right: 0.08em solid #335c67;
  animation: blink-caret 0.75s step-end infinite;
}

@layer base {
  :root {
    --background: #fffbeb;
    --background-p1: #89ddd6;
    --background-p2: #899bdd;
    --background-p3: #4fb39c;
    --background-p4: #ec8385;
    --background-p5: #99a75d;
    --background-p6: #eccd05;

    /* Card Colors */
    --foreground: #111827;
    --card-background: #fef3c7;
    --card-foreground: #111827;
    --accent-background: #800e13;
    --accent-foreground: #fffbeb;
    --secondary: #4b5563;
    --border: #111827;

    /* Chatbox colors */
    /** Chatbox */
    --chatbox-background-color: #f7eecb;

    /** User */
    --chat-background-user: #ffbb00;
    --chat-text-color-user: #000;

    /** AI */
    --chat-background-ai: ;
    --chat-text-color-ai: ;

    /* input text colors */
    --background-input: #ffeda7;

    /* button colors */
    --button-green: #55d355;
    --button-green-hovered: #4fc04f;
    --button-yellow: #ffd500;
    --button-yellow-hovered: #fcdb38;
    --button-blue: #2563eb;
    --button-blue-hovered: #1549b9;
    --button-purple: #8b3ecf;
    --button-purple-hovered: #7e39bb;
    --button-red: #d00000;
    --button-red-hovered: #b40202;

    /* Headers */
    --header-lime: #bbf451;
    --header-purple: #9c00ff;

    /* Statusbar */
    --statusbar: #352208;
  }

  .dark {
    --background: #22333b;
    --foreground: #eae0d5;
  }
}

@theme {
  /** Fonts */
  --font-main: "Cabin", sans-serif;
  --font-heading: "Tourney", sans-serif;
  --font-pacifico: "Pacifico", cursive;
  --font-archivo: "Archivo Black", sans-serif;
  --font-rubik: "Rubik Doodle Shadow", system-ui;

  /** Colors */
  --color-background: var(--background);
  --color-background-p1: var(--background-p1);
  --color-background-p2: var(--background-p2);
  --color-background-p3: var(--background-p3);
  --color-background-p4: var(--background-p4);
  --color-background-p5: var(--background-p5);
  --color-background-p6: var(--background-p6);

  --color-foreground: var(--foreground);
  --color-card-background: var(--card-background);
  --color-card-foreground: var(--card-foreground);
  --color-accent-background: var(--accent-background);
  --color-accent-foreground: var(--accent-foreground);
  --color-secondary: var(--secondary);
  --color-border: var(--border);

  /* Chatbox colors */
  /** Chatbox */
  --color-chatbox-bg: var(--chatbox-background-color);

  /** User */
  --color-chat-bg-user: var(--chat-background-user);
  --color-chat-text-user: var(--chat-text-color-user);

  /** AI */
  --color-chat-bg-ai: var(--chat-background-ai);
  --color-chat-text-ai: var(--chat-text-color-ai);

  --color-background-input: var(--background-input);

  /* Button colors */
  --color-button-green: var(--button-green);
  --color-button-green-hovered: var(--button-green-hovered);
  --color-button-yellow: var(--button-yellow);
  --color-button-yellow-hovered: var(--button-yellow-hovered);
  --color-button-blue: var(--button-blue);
  --color-button-blue-hovered: var(--button-blue-hovered);
  --color-button-purple: var(--button-purple);
  --color-button-purple-hovered: var(--button-purple-hovered);
  --color-button-red: var(--button-red);
  --color-button-red-hovered: var(--button-red-hovered);

  /* status bar */
  --color-statusbar: var(--statusbar);
}

.tourney-300 {
  font-family: "Tourney", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* .better-scrollbar::-webkit-scrollbar {
  width: 10px;
}


.better-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.better-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
  cursor: grab;
}

.better-scrollbar::-webkit-scrollbar-thumb:active {
  background: #888;
  border-radius: 10px;
  cursor: grabbing;
}


.better-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
} */